@model IEnumerable<CourseManagement.Models.Attandance>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttandanceType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttandanceType)
            </td>
            <td>
                <a class="m-2" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit" style="color : deepskyblue"></i></a>
                <a class="m-2" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-send"></i></a>
                <a class="m-2" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash" style="color : red"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
