@model IEnumerable<CourseManagement.Models.Subject>

@{
    ViewData["Title"] = "Index";
}

<h1>Subjects</h1>

<p>
    <a asp-action="create" asp-controller="subject" class="btn btn-success">Create</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a class="m-2" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit" style="color : deepskyblue"></i></a> 
                <a class="m-2" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-send"></i></a> 
                <a class="m-2" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash" style="color : red"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
